@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Poppins:wght@500&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #392f64;
    font-size: 16px;
}

h1 {
    color: #4f9ec9;    
    font-family: 'Balsamiq Sans', cursive;
    padding: 0px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    flex-grow: 1;
    margin: 25px auto;
}

img {
    width: 150px;
    margin: 0 auto;
}

input, .btn {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 10px auto 5px auto;
    font-size: 1.05em;
}

input {
    height: 75px;
    border-radius: 10px;
    background: #eae8ff;
    border: none;
    text-align: center;
}

input:focus{
    outline: none;
    border: 2px solid #D6BBC0;
}

.btn {
    background: #D6BBC0;
    color: #995C67;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn:hover {
    background: #be9ba1;
    cursor:pointer;  
}

.message-added {    
    font-family: 'Poppins', sans-serif;
    background: #CDC8E5;
    color: #6959B1;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
}